table{
  
    border: 1px dotted pink;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

}

th{
    color: gray;
}

        .metaConfigTable td {
            padding: 3px;
            border: 1px solid gray;
        }

        .metaConfigTable th{
            font-weight: bolder;
            text-align: left;
            padding: 3px;
            border: 1px solid gray;
        }

        .metaConfigTable caption {
            font-weight: bolder;
            text-align: center;
        }

